* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


.Dashboard_area {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}
.sub_dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.sub_dashboard .sidebar_area {
    width: 15%;
    height: 100vh;
    padding: 20px 20px 0 20px;
    background-color: #0004ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sidebar_area h2 {
    color: #fff;
    font-size: 30px;
    font-family: "Playwrite PL", cursive;
    margin-bottom: 20px;
    text-align: center;
}
.sidebar_area ul {
    padding: 0;
}
.sidebar_area ul li {
    margin: 22px 0;
}
.sidebar_area ul li a {
    color: #fff;
    font-size: 22px;
    transition: color 0.3s ease;
}
.sidebar_area ul li a:hover {
    color: #ffcc00;
}

.mainbar_area {
    width: 85%;
    height: 100vh;
    padding: 0;
    background-color: #fff;
    overflow-y: auto;
    margin: 0;
}
.mainbar_area .Main_comtent_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background: #f0f0f0;
    padding: 20px 10px;
    box-shadow: 1px 1px 5px #ccc;
    position: fixed;
    width: 85%;
}